# Maven
target/
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Spring Boot
*.log
logs/

# Docker
.docker/

# Variables de entorno
.env

# OS
.DS_Store
Thumbs.db

# Compiled class files
*.class
